<template>
  <section class="model">
    <p v-show="loading">Loading...</p>

    <form @submit.prevent="startTraining">
      <div class="form-group">
        <label for="batchSize">Batch Size</label>
        <input
          type="number"
          id="batchSize"
          v-model.number="batchSize"
          min="32"
          max="512"
        />
      </div>

      <div class="form-group">
        <label for="batchSize">Epochs</label>
        <input type="number" id="epochs" v-model.number="epochs" min="1" />
      </div>

      <div class="btn-holder">
        <button class="training-btn" :disabled="loading" @click="startTraining">
          Start training
        </button>
        <button
          class="test-btn"
          type="button"
          :disabled="loading || !model"
          @click="testModel"
        >
          Test
        </button>
      </div>
    </form>
  </section>
</template>

<script>
  export default {
    name: 'Model',
    props: ['cars'],
    data() {
      return {
        model: null,
        normalizationData: null,
        batchSize: 32,
        epochs: 50,
        loading: false,
      };
    },
    methods: {
      createModel() {
        const {tf} = this.$tf;
        this.model = tf.sequential();

        this.model.add(
          tf.layers.dense({inputShape: [1], units: 1, useBias: true}),
        );
        this.model.add(tf.layers.dense({units: 50, activation: 'sigmoid'}));

        this.model.add(tf.layers.dense({units: 1, useBias: true}));
      },
      testModel() {
        const {tf} = this.$tf;
        const {inputMax, inputMin, labelMin, labelMax} = this.normalizationData;

        const [xs, preds] = this.$tf.tf.tidy(() => {
          const xs = tf.linspace(0, 1, 100);
          const preds = this.model.predict(xs.reshape([100, 1]));

          const unNormXs = xs.mul(inputMax.sub(inputMin)).add(inputMin);

          const unNormPreds = preds.mul(labelMax.sub(labelMin)).add(labelMin);

          return [unNormXs.dataSync(), unNormPreds.dataSync()];
        });

        const predictedPoints = Array.from(xs).map((val, i) => {
          return {x: val, y: preds[i]};
        });

        const originalPoints = this.cars.map(d => ({
          x: d.hp,
          y: d.mpg,
        }));

        this.$tf.tfvis.render.scatterplot(
          {name: 'Model Predictions vs Original Data', tab: 'Charts'},
          {
            values: [originalPoints, predictedPoints],
            series: ['original', 'predicted'],
          },
          {
            xLabel: 'HP',
            yLabel: 'MPG',
            height: 300,
          },
        );
      },
      async startTraining() {
        this.model = null;
        this.loading = true;
        this.normalizationData = this.$tf.convertToTensor2D(
          this.cars,
          'hp',
          'mpg',
        );
        const {inputs, labels} = this.normalizationData;

        await this.trainModel(inputs, labels);
        this.loading = false;
      },
      async trainModel(inputs, labels) {
        const {tf} = this.$tf;
        if (!this.model) this.createModel();

        this.model.compile({
          optimizer: tf.train.adam(),
          loss: tf.losses.meanSquaredError,
          metrics: ['mse'],
        });

        return await this.model.fit(inputs, labels, {
          batchSize: this.batchSize,
          epochs: this.epochs,
          shuffle: true,
          callbacks: this.$tf.tfvis.show.fitCallbacks(
            {name: 'Training performance', tab: 'Training'},
            ['loss', 'mse'],
            {height: 200, callbacks: ['onEpochEnd']},
          ),
        });
      },
    },
  };
</script>

<style lang="scss">
  .model {
    width: 300px;
    .form-group {
      display: flex;
      flex-direction: column;
      margin: 10px 0;
      label {
        color: #2b2c34;
      }
    }
    button {
      border: 0;
      padding: 10px 15px;
      font-size: 0.75rem;
      transition: 0.5s background ease;
      border-radius: 2px;
      cursor: pointer;
    }
    .btn-holder {
      display: flex;
      .training-btn {
        background-color: #6246ea;
        color: #fffffe;
        margin-right: 10px;
        &:hover {
          background-color: lighten(#6246ea, 3%);
        }
      }
      .test-btn {
        color: #fffffe;
        background-color: #e45858;
        &:hover {
          background-color: lighten(#e45858, 3%);
        }
        &:disabled {
          background-color: lighten(gray, 0.8);
          cursor: not-allowed;
        }
      }
    }
  }
</style>
