<template>
  <div id="app">
    <h2>Colab - Making Predictions from 2D Data</h2>

    <p>Dataset size: {{ cars.length }}</p>

    <model :cars="cars" />
  </div>
</template>

<script>
  import dataset from './data/data.json';

  import Model from './components/Model';

  export default {
    name: 'App',
    components: {
      Model,
    },
    data() {
      return {
        cars: [],
      };
    },
    created() {
      this.cars = dataset
        .map(car => ({
          mpg: car.Miles_per_Gallon,
          hp: car.Horsepower,
        }))
        .filter(car => !!car.mpg && !!car.hp);
    },
    mounted() {
      const surface = this.$tf.tfvis
        .visor()
        .surface({name: 'HP v MPG', tab: 'Charts'});
      this.$tf.tfvis.render.scatterplot(
        surface,
        {values: this.cars.map(c => ({x: c.hp, y: c.mpg}))},
        {xLabel: 'HP', yLabel: 'MPG', height: 300},
      );
    },
  };
</script>

<style lang="scss">
  * {
    box-sizing: border-box;
    font-family: 'Avenir', 'Sans-serif';
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }

  #app {
    padding: 10px 20px;
    color: #2b2c34;
  }
</style>
